* {
  font-family: "Lato";
}

.dashboard {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
}

.session-btn-section {
  padding-top: 30px;
}

.sessions-list {
  padding: 2vw;
}

.dashboard-bg {
  background-color: #cee8f2;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.nav-btn-container {
  padding: 0vw 1vw 2vw 1vw;
}

.nav-btn {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #f2a516;
  width: 140px;
  height: 35px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #f2a516;
  background-color: white;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: #ebebeb;
}
