* {
  font-family: "Lato";
}

.edit-bg {
  background-color: #cfebf8;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.edit {
  width: 400px;
  height: 450px;
  text-align: center;
  position: relatisve;
  color: rgba(67, 57, 127, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 70px;
}

.edit-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.edit-label {
  font-size: 23px;
}

.tag-container {
  padding-left: 10px;
  padding-right: 10px;
}

.save {
  padding-top: 20px;
  padding-bottom: 20px;
}

#save-btn {
  font-size: 15px;
  color: #f2a516;
  width: 70px;
  height: 28px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #f2a516;
  background-color: white;
  cursor: pointer;
}

#save-btn:hover {
  background-color: #ebebeb;
}

#delete-btn {
  font-size: 13px;
  background: none;
  border: none;
  color: #8b0000;
  cursor: pointer;
}

#delete-btn:hover {
  color: #b17777;
}
