* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

.home-bg {
  background-image: url("../assets/home-background.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.home {
  width: 410px;
  height: 480px;
  border-radius: 15px;
  text-align: center;
  position: relative;
  color: rgba(67, 57, 127, 255);

  background-color: rgba(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.home h1 {
  font-size: 40px;
  padding-top: 70px;
}

.login-input {
  padding-top: 15px;
  padding-bottom: 15px;
}

.login-login {
  padding-top: 25px;
  size: 10px;
}

.login-register {
}

.login-input label {
  font-size: 18px;
}

input {
  border-radius: 4px;
  border-width: 1px;
  border-color: rgba(67, 57, 127, 255);
}

.submit-btn {
  font-size: 16px;
  color: white;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #ffcb49;
  /* min-width: 44px;
  min-height: 44px; */
  margin: 10px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #fab917;
}

.click-btn {
  font-size: 15px;
  background: none;
  border: none;
  color: rgba(67, 57, 127, 255);
  min-width: 44px;
  min-height: 44px;
}

.click-btn:hover {
  color: rgba(192, 98, 161, 255);
}
