.my-sessions-page {
  background-color: #cee8f2;
  padding: 20px;
  font-family: "Lato", sans-serif;
}

.my-sessions-page-bg {
  background-color: #cee8f2;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.author-sessions,
.member-sessions {
  border: 2px solid #061673;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 15px;
  position: center;
}

.author-sessions-header,
.member-sessions-header {
  color: #f2a516;
  font-size: 1.2em;
}

.button {
  background-color: #f2a516;
  border: 2px solid #c97c10;
}

.button:hover {
  background-color: #181e8c;
  border-color: #2a349d;
}
