.navbar {
  background-color: rgba(67, 57, 127, 255);
  height: 48px;
  color: white;
  align-items: center;
}

.nav-logo {
  height: 48px;
  margin-left: 70px;
  margin-right: 2px;
  align-items: center;
  vertical-align: middle;
}

.nav-name {
  font-size: 18px;
  margin-top: 20px;
  margin-right: 70px;
}

.nav-link {
  font-size: 15px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 70px;
}

.nav-logout {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
  border: rgba(67, 57, 127, 255);
  background: none;
  cursor: pointer;
}

.nav-link:hover,
.nav-logout:hover {
  color: rgba(255, 255, 255);
}

.Dashboard,
.Profile,
.MySessions {
  color: rgba(255, 255, 255);
}
