.profile{
  font-family: 'Roboto', sans-serif;
}

.profile-bg {
  background-color: #CEE8F2;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.profile {
  width: 45vw;
  height: 35vw;
  border-radius: 0.5vw;
  text-align: center;
  position: relatisve;
  color: rgba(67, 57, 127, 255);

  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  padding: 6vw 1vw 1vw 1vw;
}

.info-row {
  padding: 1vw 0vw 0vw 0vw;
  size: 1vw;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3vw;
}

.edit-btn-div {
  padding: 3vw 1vw 1vw 1vw;
  size: 1vw;
}

.back {
  padding: 0vw 1vw 1vw 1vw;
}

#edit-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1vw;
  color: #F2A516;
  width: 6vw;
  height: 1.7vw;
  border-radius: 0.3vw;
  border-width: 0.09vw;
  border-color: #F2A516;
}

#edit-btn:hover {
  background-color: #F27979;
}

#back-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1vw;
  background: none;
  border: none;
  color: #181E8C;
}

#back-btn:hover {
  color: #061673 ;
}
