* {
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Lato", sans-serif;
  color: #061673;
}

.search-page-bg {
  background-color: #cee8f2;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.search-btn-container {
  padding: 1vw;
}

.search-section {
  padding-top: 30px;
  width: 50%;
  align-items: center;
  margin-bottom: 10px;
  margin: 0 auto;
}

.search-section input {
  width: 65%;
}

.search-btn {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #f2a516;
  width: 80px;
  height: 28px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #f2a516;
  background-color: white;
}

.search-btn:hover {
  background-color: #ebebeb;
}
