.session-form {
  padding-top: 50px;
}

.manage-container {
  font-family: "Lato", sans-serif;
  color: #061673;
  background-color: #cee8f2;
  height: 100vh;
  width: 100%;
}

.manage-section {
  padding-top: 1vw;
  margin-bottom: 10px;
  width: 50%;
  margin: 0 auto;
}

.manage-input {
  display: block;
  width: 100%;
}

.manage-text {
  display: block;
  width: 100%;
  height: 100px;
}

.manage-btn-section {
  text-align: center;
  margin-top: 10px;
  padding-top: 1vw;
}

.manage-btn {
  font-size: 15px;
  color: #f2a516;
  width: 140px;
  height: 35px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #f2a516;
  background-color: white;
}

.manage-btn:hover {
  background-color: #ebebeb;
}
